/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.p-password {
    input {
        width: 100%;
    }
}

.p-tabview-nav-container > div > ul > li {
    width: 50%;
    a {
        display: flex;
        justify-content: center;
    }
}
// end auth components